!!!
%html{:lang=>'en'}
  %head
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/styles.css'}
    %script{:src=>'http://code.jquery.com/jquery-1.6.4.min.js'}
    %script{:src=>'/javascript/beers.js'}
    %title Beer Catalogue

  %body
    #container
      #header
        %h1 Beer Catalog
      #content
        =yield
        %div{:style=>'clear:both'}
      #footer
        Brought to you by 
        %a{:href=>'http://projectodd.org'} project:odd

